@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@import 'nav.css';

	body {
		@apply bg-white;
		padding-left:20px
	}

	.logo {
		@apply bg-no-repeat bg-left;
		background-size: 48px 48px;
		padding-left: 65px;
	}

	th {
		text-align: left;
	}

	td {
		padding-left: 20px;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
	  font-size: inherit;
	  font-weight: bold;
	  padding-top:5px;
		padding-bottom:5px;
	}
}
